.home {
	text-align: center;
	min-height: 100dvh;
	padding-top: 8rem;
}

.home svg {
	width: clamp(2.5rem, 3vw + 1rem, 4.5rem);
	height: auto;
	stroke-width: 1.5px;
}

.home svg:hover {
	stroke-width: 1.75px;
}

.header-container h1,
.header-container h2 {
	margin: 0.5rem 0;
}

.header-container h1 {
	font-size: clamp(4rem, 5vw + 2rem, 10.425rem);
	word-spacing: 130%;
}

.header-container h2 {
	font-size: clamp(2rem, 1.85vw + 1rem, 3.85rem);
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
}

.icon-container a {
	display: flex;
}

.selfie {
	width: 100%;
	max-width: 100%;
	height: auto;
	align-self: flex-end;
	object-fit: cover;
	margin-top: auto;
	min-width: 0;
}

@media (min-width: 1024px) {
	.home {
		flex-direction: row !important;
		align-items: center;
	}

	.selfie {
		order: 1;
		max-width: 100%;
		height: auto;
	}

	.is-right {
		order: 2;
		display: flex;
		justify-content: flex-end;
	}

	.header-container {
		flex: 0 0 50%;
	}

	.selfie {
		flex: 0 0 50%;
	}
}

@media (min-width: 1280px) {
	.header-container h1,
	.header-container h2 {
		margin: 1rem 0;
	}

	.icon-container {
		margin-top: 4rem;
	}
}

@media (min-width: 1440px) {
	.icon-container {
		gap: 3rem;
	}
}
