.project-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
}

.project-title {
	font-size: clamp(2.5rem, 2vw + 1.5rem, 4rem);
	margin-top: 2rem;
}

.project-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
}

.project-image {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

.paragraph-container {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.paragraph {
	max-width: 36ch;
	text-align: center;
}

.button-container {
	display: flex;
	gap: 2.5rem;
}

@media (min-width: 768px) {
	.projects {
		max-width: 90%;
	}

	.project-item {
		gap: 1.75rem;
	}

	.paragraph {
		max-width: 56ch;
		text-align: center;
	}
}

@media (min-width: 1024px) {
	.project-item {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"title image"
			"skills image"
			"buttons image"
			"description description";
		column-gap: 1rem;
		row-gap: 1rem;
		margin-top: 2rem;
	}

	.project-item:nth-child(2n) {
		grid-template-columns: 2fr 1fr;
		grid-template-areas:
			"image title"
			"image skills"
			"image buttons"
			"description description";
	}

	.project-title,
	.skill-container,
	.button-container {
		justify-self: center;
	}

	.project-title {
		grid-area: title;
	}

	.skill-container {
		grid-area: skills;
	}

	.button-container {
		grid-area: buttons;
	}

	.project-image-container {
		grid-area: image;
	}

	.paragraph-container {
		grid-area: description;
	}

	.paragraph {
		margin-top: 2.5rem;
		max-width: 100%;
		text-align: left;
	}
}

@media (min-width: 1024px) {
	.project-title {
		margin-top: 0;
	}
}

@media (min-width: 1280px) {
	.project-item {
		column-gap: 2.5rem;
		margin: 1.5rem 0;
	}

	.project-image-container {
		gap: 0.375rem;
	}
	.paragraph {
		margin-top: 2.5rem;
	}
}

@media (min-width: 1440px) {
	.project-item {
		margin: 3rem 0;
	}

	.project-image-container {
		gap: 0.5rem;
	}
}

@media (min-width: 1920px) {
	.project-item {
		column-gap: 5rem;
		margin: 4rem 0;
	}

	.project-title {
		align-self: end;
	}

	.project-image-container {
		gap: 0.75rem;
	}

	.button-container {
		align-self: start;
	}
}
